body:before, body:after {
  content: "";
  position: fixed;
  background: #00f0bb;
  left: 0;
  right: 0;
  height: 10px;
}
body:before {
  top: 0;
}
body:after {
  bottom: 0;
}
body {
  border-left: 10px solid #00f0bb;
  border-right: 10px solid #00f0bb;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited{
  color: white;
}

.bucket-colour-1{
  background-color: #f5f5f5;
}

.footer-box{
  color: white;
  background-color: #00f0bb;
}

.socials-text{
  color: white;
}

.text-grey{
  color: #6f6f6f;
}
