body:before, body:after {
    content: "";
    position: fixed;
    background: #db0046;
    left: 0;
    right: 0;
    height: 10px;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {
    border-left: 10px solid #db0046;
    border-right: 10px solid #db0046;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited{
  color: white;
}

.bucket-colour-1{
  background-color: #f5f5f5;
}
